/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
    margin: 20px;
}

article {
    background: #fff;
    padding: 20px 40px;
}
p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 20px 0px;
    padding: 20px 0px;

}

img {
    max-width: 100%; /* DO NOT delete or change this line */
    padding: 20px 0px;
}

.text {
    color:#000;
    max-width: 80%;
    padding: 20px 100px;
    font-size: 120%;
    line-height: 120%;
}

h2 {text-align: auto;
}

header {
    padding: 2rem;
    margin: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin: 0;
    margin-left: 1rem;
    background: #FFBD81;
    padding: .6rem 1rem;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}

#cougar {
    background: #B26219;
    color: #fff;
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#lion {
    background: #FFD5AE;
    color: #fff;
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#tiger {
    background: #FFBD82;
    color: #fff;
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

footer {
    background: #000;
    text-align: center;
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #0324fc;
}
a:hover {
    color: #03f0fc;
}
